# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/mountain_pass_streak
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/mountain_pass_streak

# Redis
REDIS_URL=redis://localhost:6379/0

# Security
SECRET_KEY=changeme-dev-secret
TOKEN_ENCRYPTION_KEY= -kP6vh597kcubKuoHedHROuPZHKT2u-rdeJX8x6IQ2E=
# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23lipzv4R9qxUYVp2p
GITHUB_CLIENT_SECRET=382634d7bd01d989e0b4268f797ed1bcf2a51696
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback

# LeetCode API
LC_API_BASE_URL=https://alfa-leetcode-api.0sanjeev.workers.dev

# App
APP_BASE_URL=http://localhost:8000
ENVIRONMENT=development
DEBUG=true
